* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header {
    background-color: rgb(1, 9, 38);
    display: flex;
    height: 50px;
    align-items: center;
    color: white;
    position: sticky;
    width: 100vw;
    justify-content: space-around;
}
.header__logo {
    width: 22%;
    display: flex;
    justify-content: center;
    font-size: 0.8em;
}
.header__logoImg {
    margin-right: 10px;
    color: orange;
}

.header__search{
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__search, input {
    padding: 6px;
    width: 97%;
    border-radius: 2px 0 0 2px;
    border: solid 0px black;
}

.header__searchIcon {
    background-color: orange;
    height: 28px !important;
    padding: 3px;
    border-radius: 0 2px 2px 0;
}

.header__nav {
    width: 22%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.nav__item {
    display: flex;
    flex-direction: column;
}

.nav__itemLineOne {
    font-size: 0.6em;
}

.nav__itemLineTwo {
    font-weight: bold;
    font-size: 0.7em;
}

.header__basketIcon {
    height: 17px !important;
    margin-right: 2px;
}

.nav__item:nth-child(3) {
    display: flex;
    flex-direction: row;
    margin: 2px;
}